:root {
  --red: #fa6262;
  --blue: #cae9f2;
  --bg-gray: #fbfbfb;
  --dark-gray: #1e1e1d;
  --yellow: #fffacc;
  --green: #e2efc7;
  --pink: #efc7c7;
  --font-color: #000;
  --blue-solid: #a1dbed;
  --green-solid: #d4eda1;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  margin: 0;
}

/* Header------------------------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 95px;
}

header>section.right {
  font-size: 16px;
  font-weight: 800;
}

header>section.right>a {
  text-decoration: none;
  color: var(--font-color);
}

header>section.right>a:first-of-type {
  margin-right: 30px;
}

header>section.left {
  font-size: 36px;
  font-weight: 800;
  color: var(--red);
}
/* Main--------------------------------- */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  padding: 0 50px 25px 50px;
}



h1, h2 {
  /* font-family: 'Poppins'; */
  font-weight: 800;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
  line-height: 78px;
  letter-spacing: 0em;
}

h2 {
  border-bottom: 5;
}

main>section.left {
  width: calc(60% - 50px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

main section.left.cards {
  width: 800px;
}


div.card {
  width: calc(50% - 30px);
  /* width: 347px; */
  height: 335px;
  padding: 25px 35px 0 35px;
  background-color: var(--bg-gray);
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 3px 4px 12px 0px #0000001A;

}

h2 {
  font-size: 36px;
  margin: 15px 0;
  line-height: 40px;
  letter-spacing: 0em;
}

div.card>p, span, button {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
}

.card>p {
  margin: 0;
  line-height: 24px;
  letter-spacing: 0em;
}

span {
  font-size: 12px;
  color: var(--dark-gray);
  padding: 5px;
  border-radius: 5px;
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

.pink {
  background-color: var(--pink);
}

.green {
  background-color: var(--green);
}

.arrow-container {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 10px;
}

.card .arrow-container {
  width: 42px;
  height: 42px;
  background-color: var(--red);

}

.card .arrow-container path {
  fill: white;
}

.arrow-container>svg {
  max-width: 100%;
  max-height: 100%;
}

/* Right column------------------------------------ */

main>section.right {
  width: 500px;
  padding: 0 20px;
}

main>section.right>p {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  margin: 25px 0;
  line-height: 36px;
  letter-spacing: 0em;
}

button {
  text-align: start;
  padding: 0 0 0 30px;
  width: 195px;
  height: 50px;
  background: none;
	border: none;
  border-radius: 15px;
	cursor: pointer;
	outline: none;
  box-shadow: 4px 4px 6px 0px #0000000A;
  position: relative;
}

button:first-of-type {
  margin-right: 20px;
}

button>.arrow-container {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

button>.arrow-container> svg>path {
  fill: var(--dark-gray);
}

button>.arrow-container.blue {
  background-color: var(--blue-solid);
}

button>.arrow-container.green {
  background-color: var(--green-solid);
}

